BIP39_MNEMONIC=replace-with-your-12-or-24-word-mnemonic
BIP39_PASSPHRASE=
WALLET_DERIVATION_PATH=m/44'/1'/0'/0/0
WALLET_ADDRESS_SCAN_LIMIT=1
WALLET_ELECTRUM_SERVERS=chipnet.bch.ninja,chipnet.imaginary.cash,electrum-chipnet.optnlabs.com
BROADCAST_ENABLED=0
BROADCAST_TEST_MAX_TRADE_TOKENS=100
BROADCAST_FEE_RATE_SATS_PER_BYTE=1
